 :root {
  --color-body: #E5E5E5;
  --color-botones: (#F5F4FA);
  --color-web: #2196f3;
  --color-principal:#FFFFFF;
  --color-secundario:#2F303A;
  --font-weigth-7:700 ;
  --font-weigth-9: 900;
  --color-texto: #212121;
  --color-rojo: #ef0c0c;
  --font-size-14p:14px;
  --font-size-16p:16px;
  --font-size-26p:26px;
  --font-size-36p:36px;
  --font-size-44p:44px;
} 
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-body);
}
.menu{
  background-color: var(--color-principal);
}
.menu a{
text-decoration: none;
font: var(--font-size-16p);
font-weight: var(--font-weigth-7);
font-size: var(--font-size-14p);
}

.btn{
  display: flex;
  justify-content: center;
}
.btn a{
  text-decoration: none;
  width: 90px;
  background-color: var(--color-botones);
  border: 3px solid black;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 20px;
  font-size: var(--font-size-16p);
  color:var(--color-principal) ;
}
.btn a:hover {
  cursor: pointer;
  background-color:var(--color-web);
  color: var(--color-rojo);
}
.btn .all {
  background-color:var(--color-web);
}
ul {
  list-style: none;
}
li a:hover{
  color: red;
}
button{
  background-color: var(--color-botones);
  font-size: var(--font-size-16p);
  cursor: pointer;
}
button:hover{
  background-color:var(--color-web);
}
.servicios{
font-weight: var( --font-weigth-7);
font-size: var(--font-size-16p);
line-height: 30px;
letter-spacing: 6%;
text-align: center;
background-color: var(--color-principal);
}
.logo-header-link{
  width: 145px;
  height: 31px;
  top: 1668px;
  left: 215px;
  font-weight: 700;
  font-family: font-family 'Raleway', sans-serif;;
  font-size: var(--font-size-26p);
  line-height: 30.52px;
  letter-spacing: 3%;
  color: #2196F3;
}
.solutions{
  top: 80px;
  left: -4px;
  background-color: var(--color-secundario);
  color: var(--color-principal);
  text-align: center;
}
.busines-solutions{
  top: 280px;
  left: 448px;
  font-weight: var(--font-weigth-9);
  font-size: var(--font-size-44p);
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
}
.our-services{
  top: 10px;
  left: 32px;
  background-color: var(--color-web);
  font-weight: var(--font-weigth-7);
  font-size: var(--font-size-16p);
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
}
.what-do-we-do{
  font-size: var(--font-size36p);
  color: var(--color-texto);
}
.footer{
  background-color: var(--color-secundario);
}
.mexico-city{
  color: var(--color-principal);
  font-size: var(--font-size-14p);
}
.footer-mail{
  color: var(--color-principal);
}
.logo-header-link{
  color: var(--color-web);
  font-size: var(--font-size-26p);
}
.footer-mail{
  font-size: var(--font-size-16p);
  font-weight: var(--font-weigth-7);
  color: white;
}
a{
  text-decoration: none;
}
.footer-mail a{
  text-decoration: none;
  color: #FFFFFF;
}

