 :root {
  --color-body: #E5E5E5;
  --color-botones: rgb(14, 215, 215);
  --color-web: #2196f3;
  --color-principal:#FFFFFF;
  --color-secundario:#2F303A;
  --font-weigth-7:700 ;
  --font-weigth-9: 900;
} 
body{
  font-family: 'Roboto' sans-serif;
  background-color: var(--color-body);
}
.menu{
  background-color: var(--color-principal)
}
.menu a{
text-decoration: none;
font: 16px;
font-weight: 700;
}

.btn{
  display: flex;
  justify-content: center;
}
.btn a{
  text-decoration: none;
  width: 90px;
  background-color: var(--color-botones);
  border: 3px solid black;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 20px;
  font-size: 16px;
}
.btn a:hover {
  cursor: pointer;
  background-color:yellow;
}
ul {
  list-style: none;
}
li a:hover{
  color: red;
}
button{
  background-color: var(--color-botones);
  cursor: pointer;
}
button:hover{
  background-color: blue;
}
.servicios{
font-weight: var( --font-weigth-7);
font-size: 16px;
line-height: 30px;
letter-spacing: 6%;
text-align: center;
background-color: var(--color-principal);
}
.logo{
  width: 145px;
  height: 31px;
  top: 1668px;
  left: 215px;
  font-weight: 700;
  font-family: font-family 'Raleway', sans-serif;;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 3%;
  color: #2196F3;
}
.solutions{
  top: 80px;
  left: -4px;
  background-color: var(--color-secundario);
  color: white;
  text-align: center;
}
.busines-solutions{
  top: 280px;
  left: 448px;
  font-weight: var(--font-weigth-9);
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
}
.our-services{
  width: 197px;
  height: 30px;
  top: 10px;
  left: 32px;
  font-weight: var(--font-weigth-7);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
}
.what-do-we-do{
  width: 371.15px;
  height: 46.24px;
}
.our-team{
  width: 263px;
  height: 42px;
}
.footer{
  background-color: var(--color-secundario);
}
.mexico-city{
  color: var(--color-principal);
}
.footer-mail{
  color: var(--color-principal);
}
.logo-header-link{
  color: #2196f3;
}
.webstudio{
  width: 145px;
  height: 31px;
  color: #FFFFFF;
}
.redes-footer{
  font-size: 16px;
  font-weight: 700;
  color: white;
}
a{
  text-decoration: none;
}
.redes-footer a{
  text-decoration: none;
}

